@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 27, 24, 169;
    --background-end-rgb: 27, 24, 169;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 27, 24, 169;
    --background-end-rgb: 27, 24, 169;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


@media (min-width: 240px) {
  .cadrss {
    min-height: 240px;
    margin-top: 4rem;
  }
}

@media (min-width: 340px) {
  .cadrss {
    min-height: 270px;
  }
}
@media (min-width: 440px) {
  .cadrss {
    min-height: 340px;
  }
}
@media (min-width: 490px) {
  .cadrss {
    min-height: 360px;
    margin-top: 2rem;
  }
}
@media (min-width: 540px) {
  .cadrss {
    min-height: 390px;
        margin-top: 3rem;
  }
}
@media (min-width: 590px) {
  .cadrss {
    min-height: 410px;
    margin-top: 4rem;
  }
}
@media (min-width: 640px) {
  .cadrss {
    min-height: 450px;
    margin-top: 1rem;
  }
}
@media (min-width: 690px) {
  .cadrss {
    min-height: 480px;
    margin-top: 0rem;
  }
}
@media (min-width: 740px) {
  .cadrss {
    min-height: 490px;
  }
}

@media (max-width: 400px) {
  .ModaLContect {
    width: 360px;
  }
}

.ModaL {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  /* border: 4px solid red; */
}

.ModaLContect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  min-width: 380px;
  width: 680px;
  min-height: 720px;
  background: rgb(var(--background-end-rgb));
  outline: none;

  /* border: 4px solid blue; */

}


.Authentication {

  height: 100%;
  max-height: 93vh;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
  /* border: 2px solid yellowgreen; */
  /* gap: 8px; */
  /* margin-top: 24px; */
  /* padding-bottom: 24px; */
  /* background: goldenrod; */

}

input[type="email"] {
  border: none !important;
  outline: none !important;
}
